version: '3'

services:
  web:
    container_name: quant-live-web
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 3000:3000
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
    # networks:
    #   - quant-network

    # networks:
    #   quant-network:
    #     driver: bridge
